node_modules
src/scripts
coverage
test
docs
dist
disc
gulp
gulpfile.js
.babelrc
.editorconfig
.eslintignore
.eslintrc.json
.sass-lint.yml
.npmrc
yarn.lock
npm-debug.log
package-lock.json
yarn-error.log
